<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>

<body>

  <ul>
    <% @titlearray.each do |title| %>
      <li><%= title %></li><br/>
    <% end %>
  </ul>
  <ul>
    <% @itemarray.each do |title| %>
      <li><%= title %></li><br/>
    <% end %>
  </ul>

</body>
</html>